body {background: #F0F0F0;}


textarea {
  width: 80%;
  height: 100px;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  color: #555555;
}


