<html>
	<head>
		<title>Evil Alexa</title>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div id="header">
			<img src="{{ url_for('static', filename='logo.png') }}"/>
		</div>
			<form id="paper" method="POST" action="speak">
				<input type="text" placeholder="Enter something spooky" name="txt" id="txt"></input>
				<br/>
				<input id="button" type="submit" value="Speak">
		
			</form>
			<img src="{{ url_for('static', filename='EvilAlexa.gif') }}" align="center"/>
	</body>
</html>
