<!doctype html>
<html>
<head>
	<title>Evil Alexa</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
	<link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
	<link rel="mask-icon" href="{{ url_for('static', filename='safari-pinned-tab.svg') }}" color="#5bbad5">
	<meta name="msapplication-config" content="{{ url_for('static', filename='browserconfig.xml') }}">
	<meta name="theme-color" content="#ffffff">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name='viewport', content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
	<div id="header">
		<a href="/"><img src="{{ url_for('static', filename='logo.png') }}"/></a>
	</div>
    <div id="content">{% block content %}{% endblock %}</div>
	<p>
	    Comments? Send email to <a href="mailto:evilalexa@benamotz.com">evilalexa@benamotz.com</a><br/>
		Click <a href="https://www.youtube.com/watch?v=qOhTfJ6gDYU">here</a> to see how it was made
	</p>
	<img src="{{ url_for('static', filename='evaila.JPG') }}"/>
</body>
</html>
