<!doctype html>
<html>
<head>
	<title>Evil Alexa</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div id="header">
		<a href="/"><img src="{{ url_for('static', filename='logo.png') }}"/></a>
	</div>
    <div id="content">{% block content %}{% endblock %}</div>
    <hr/>
    <p>Comments? Send email to <a href="mailto:evilalexa@benamotz.com">evilalexa@benamotz.com</a></p>
    <img src="{{ url_for('static', filename='EvilAlexa.gif') }}" align="center"/ id="imgAlexa">
</body>
</html>